<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<style>
		h1 {
			line-height: 2;
			text-align: center;
		}

		#aaa {
			width: 200px;
			height: 40px;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>

<body>
	<h1 th:text="${title}"></h1>
	<form method="get" action="#">
		<p id="aaa">ユーザー名<input type="text" name="name1"></p>
		<p id="aaa">　　ID<input type="text" name="name1"></p>
		<p id="aaa">パスワード<input type="text" name="name1"></p>
		<p id="aaa"><input type="submit" value="登録"></p>
	</form>
</body>

</html>