<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
</head>

<body>
	<p>
		<input type="submit" value="検索">
		<input type="text" name="name" th:value="*{name}">
	</p>
	<input type="submit" value="ジャンル１">
	<input type="submit" value="ジャンル２">
	<input type="submit" value="ジャンル３">
	<input type="submit" value="ジャンル４">
	<table>

		<tr th:each="res : ${dbList}">
			<td th:text="${res.name}">名前</td>
			<td th:text="${res.comment}">コメント</td>
			<td th:text="${res.attime}">時間</td>
		</tr>

	</table>
</body>

</html>